a {
	text-decoration: none;
	font-weight: normal;
	border-color: #606060;
}
a:link {
	color: #606060;
}
a:visited {
	color: #606069;
}
a:active {
	color: #666666;
}
a:hover {
	color: #cccccc;
}
.capt {
	font-size: 7pt;
	color: #666666;
}
a.imagehref {
	border-color: #606060;
}
td, p, b, span, ol, ul, q, h1, h2, h3, h4, h5, h6 {
	font-family: verdana, sans-serif;
	margin: 3px 0 9px 4px;
}
td,th {
	font-size: 7pt;
}
td {
	padding: 20px 20px 0 0;
}
p {
	font-size: 8pt;
	font-weight: 300;
}
h1 {
	font-size: 13pt;
}
h2 {
	font-size: 11pt;
}
h3 {
	font-size: 10pt;
}
h4 {
	font-size: 9pt;
}
h5 {
	font-size: 9pt;
}
h6 {
	font-size: 9pt;
}
ul {
	font-size: 10pt;
}
li {
	font-size: 10pt;
}