a {
	text-decoration:none;
	font-weight:normal;
	border-color:#606060;
}
a:link {
	color: #3333aa;
}
a:visited {
	color: #3399dd;
}
a:active {
	color: #6666ee;
}
a:hover {
	color: #3333ff;
}
.capt {
	font-size:7pt;
	color:#666666;
}
a.imagehref {
	border-color:#606060;
}
td, p, b, span, ol, ul, q, h1, h2, h3, h4, h5, h6 {
	font-family:verdana,sans-serif;
	margin-left:4px; 
	margin-right:0px;
	margin-top:3px; 
	margin-bottom:9px;
}
td,th {
	font-size:7pt;
}
td {
	padding-right:20px;
	padding-top:20px;	
}
p{
	font-size:8pt;
}
h1{
	font-size:13pt;
}
h2{
	font-size:11pt;
}
h3{
	font-size:10pt;
}
h4{
	font-size:9pt;
}
h5{
	font-size:9pt;
}
h6{
	font-size:9pt;
}
ul{
	font-size:10pt;
}
li{
	font-size:10pt;
}

